/* @import url("importNotoSansFont.css"); */
/* @import url("importBiotifFont.css"); */
@import url("importCeraProFont.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --header: hsla(209.01, 100%, 99%, 0.4);
        --background: hsl(209.01 100% 99%);
        --foreground: hsl(221.02 86% 98%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(222.2 84% 4.9%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(222.2 84% 4.9%);
        --primary: hsl(221.22 15% 9%);
        --primary-foreground: hsl(210 40% 98%);
        --secondary: hsl(221.51 19% 42%);
        --secondary-foreground: hsl(221.22 15% 9%);
        --muted: hsl(210 40% 96.1%);
        --muted-foreground: hsl(215.4 16.3% 46.9%);
        --accent: hsl(225.88 89% 58%);
        --accent-foreground: hsl(221.22 15% 9%);
        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(210 40% 98%);
        --border: hsl(221.01 14% 93%);
        --input: hsl(221.01 14% 93%);
        --ring: hsl(222.2 84% 4.9%);
        --content: hsl(221.51 20% 31%);
        --emphasis: hsla(223.4, 89%, 66%, 0.07);

        --radius: hsl(0.5rem);
        --font-mono: SFMono-Medium, SF Mono, Segoe UI Mono, Roboto Mono, Ubuntu Mono, Menlo, Consolas, Courier,
            monospace;
    }

    .dark {
        --header: hsla(221.77, 27%, 5%, 0.4);
        --background: hsl(221.77 27% 5%);
        --foreground: hsl(221.32 21% 7%);
        --card: hsl(222.2 84% 4.9%);
        --card-foreground: hsl(210 40% 98%);
        --popover: hsl(222.2 84% 4.9%);
        --popover-foreground: hsl(210 40% 98%);
        --primary: hsl(210 40% 98%);
        --primary-foreground: hsl(221.22 15% 9%);
        --secondary: hsl(221.27 18% 61%);
        --secondary-foreground: hsl(210 40% 98%);
        --muted: hsl(217.2 32.6% 17.5%);
        --muted-foreground: hsl(215 20.2% 65.1%);
        --accent: hsl(223.24 89% 66%);
        --accent-foreground: hsl(210 40% 98%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(210 40% 98%);
        --border: hsl(217.2 32.6% 17.5%);
        --input: hsl(217.2 32.6% 17.5%);
        --ring: hsl(212.7 26.8% 83.9%);
        --content: hsl(221.14 19% 73%);
        --emphasis: hsla(223.4, 89%, 66%, 0.07);
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply min-h-screen flex flex-col bg-background text-content font-cera break-words;
    }

    p {
        text-rendering: optimizelegibility;
    }

    .button-icon {
        @apply relative select-none flex-none rounded-lg border-none bg-transparent text-secondary;
    }
    .button-icon::after {
        @apply absolute z-0 block w-full h-full rounded-lg bg-background border border-border;
        content: "";
        transition: box-shadow 0.3s, border-color 0.2s, background 0.3s,
            transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
        border-radius: 8px;
    }
    .button-icon:hover:not(:disabled) {
        @apply text-accent;
    }
    .button-icon:hover:not(:disabled)::after {
        @apply absolute z-0 block w-full h-full rounded-lg bg-background border-2 border-accent;
        transform: scale(0.92) translateZ(0);
        box-shadow: 0 2px 40px -4px var(--accent);
        border-radius: 10px;
    }

    article ul {
        list-style-type: none;
    }

    article ol {
        counter-reset: count;
    }

    article ol > li {
        counter-increment: "count";
    }

    article ol > li::before {
        counter-increment: count;
        content: counter(count) ". ";
        color: var(--accent);
        margin-right: 6px;
    }

    article ol > li > span[data-list-item] {
        display: none;
    }

    article li > span[data-list-item] {
        padding-right: 6px;
        transform: translateY(3px);
    }

    article li > ol {
        margin-left: 1.45rem;
    }

    article li > ul {
        margin-left: 1.45rem;
    }

    article li > p {
        margin-bottom: calc(1.45rem / 2);
    }
}

@layer utilities {
    .font-mono {
        font-family: var(--font-mono);
    }
}
