@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-BlackItalic.ttf) format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-ExtraBold.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-ExtraBoldItalic.ttf) format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-SemiBoldItalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-RegularItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-Book.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-BookItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-Light.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Biotif";
    src: url(/fonts/biotif/Biotif-LightItalic.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
}
